.canvas-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.picker {
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all .3s ease .3s;
    .picker-materials {
        opacity: 0;
        transition: all .3s ease .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .material {
            width: 60px;
            height: 60px;
            border-radius: 100vmax;
            border: 3px solid #00ff0000;
            transition: all .3s ease;
            &.active {
                border: 3px solid #00ff0080;
            }
        }
    }
    &.active {
        opacity: 1;
        .picker-materials {
            opacity: 1;
        }
    }
    &-materials {
        display: flex;
    }
    h1 {
        font-weight: 600;
    }
}
